*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 8vw 82vw 10vw;
    grid-template-rows: 15vh 80vh 5vh;
}
header{
    background-color: red;
    grid-column: 1/4;
    grid-row: 1/2;
}
nav{
    background-color: silver;
    grid-column: 1/2;
    grid-row: 2/3;
}
main{
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/3;
}
.login{

}
footer{
    background-color: red;
    grid-column: 1/4;
    grid-row: 3/4;
}
